@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*Variables*/
:root {
  /*Color Palette*/
  --paletteOne-one-color: #262A4C;
  --paletteOne-two-color: #2FE099;
  --paletteOne-three-color: white;
  
  /*Typography*/
  --font-logo: 'Lobster', cursive;
}
@media screen and (min-width:300px ){
.container-SignUp, .container-login {
    /* Display & box-model */
    width: 100vw;
    height: 100vh;
    text-align: center;
  }
  .msg {
   font-weight: lighter;
   font-size: 12px;
   color: red;
  }
  .content-circles{
    display: flex;
    flex-direction:flex-start;
    margin: 0;
  }
  .semi-circle {
    position: relative;
    right: 30px;
    width:100px;
    height: 50px;border: 2px solid var(--paletteOne-two-color);
    background: var(--paletteOne-two-color);
    border-radius: 0 0 100% 100%;
    -webkit-border-radius: 0 0 100% 100%;
    border-radius: 0 0 100px 100px;
  }
  .circle {
    width:130px;
    height: 130px;border: 2px solid var(--paletteOne-one-color);
    background: var(--paletteOne-one-color);
    border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 0 100% 0;
  }
  .container-SignUp header {
    height:0;
  }
  
  .container-SignUp header h1 {
    font-family: var(--font-logo);
    color: var(--paletteOne-one-color);
    text-align: right;
    margin-right: 4%;
    font-size: xx-large;
    position: relative;
    bottom: 50px;
  }

  .container-SignUp form{
    height: 180px
  }

  .container-SignUp form div {
    padding:5px
  } 
  .container-SignUp form div input{
    border-radius: 30px;
    width:200px;
    height: 10px;
    border:  2px solid #23282c20;
    padding: 5px;
    color: #1a2437a3;
  } 
  .container-SignUp form div #email {
     background-image: url(../img/e-mail.jpg);
    background-repeat: no-repeat;
     background-position-y: center;
     background-position-x: 170px;
  }
  .container-SignUp form div #username {
    background-image: url(../img/user.png);
    background-size: 15px;
    background-repeat: no-repeat;
     background-position-y: center;
     background-position-x: 172px;
  }
  .container-SignUp form div #password {
    background-image: url(../img/password.png);
    background-size: 15px;
    background-repeat: no-repeat;
     background-position-y: center;
     background-position-x: 170px;
  }
  
  .btn-signUp, .btn-return-login{
   width: 173px;
   height: 28px;
   background: #51B78E;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 30px;
   border: 1px solid #51B78E;
   margin-top:  10px;
  }
 a {
    text-decoration: none;
    color: white;
  }
  /* part two */
  .content-google{
    width: 100%;
    height: 0;
    border-top: 2px solid #23282c20;
    margin-top: 40px;
    padding-top: 40px;
    position: relative;
    bottom: 35px;
  }
  .content-Googletext {
    width: 150px;
    height: 15px;
    position: relative;
    top: -50px;  
    background-color: white;
    margin: 0 auto;
  }
  .container-SignUp .content-googleSignUp .btn-signUpGoogle{
    background-image: url(../img/google.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: relative;
    bottom: 30px;
  }
  .content-returnLogin{
    padding: 30px 0;
  }
}

@media screen and (min-width:400px ) {
    .semi-circle {
    position: relative;
    right: 30px;
    width:200px;
    height: 100px;border: 2px solid var(--paletteOne-two-color);
    background: var(--paletteOne-two-color);
    border-radius: 0 0 100% 100%;
    -webkit-border-radius: 0 0 100% 100%;
    border-radius: 0 0 100px 100px;
  }
  .circle {
    width:180px;
    height: 180px;border: 2px solid var(--paletteOne-one-color);
    background: var(--paletteOne-one-color);
    border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 0 100% 0;
  }
  img {
    width:400px;
  }
}